<div>
<!--     <jhi-alert></jhi-alert> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
<!--                 <button class="btn btn-primary" ui-sref="sd-order-header.new" > -->
<!--                     <span class="glyphicon glyphicon-plus"></span> -->
<!--                     <span class="hidden-xs"  data-translate="sudeApp.sdOrderHeader.home.createLabel"> -->
<!--                         Create new Sd Order Header -->
<!--                     </span> -->
<!--                 </button> -->
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'sudeApp.sdOrderHeader.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
<!--                     <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <th jh-sort-by="orderHeaderNo"><span data-translate="sudeApp.sdOrderHeader.orderHeaderNo">Order Header No</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="carNo"><span data-translate="sudeApp.sdOrderHeader.carNo">Car No</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="driverName"><span data-translate="sudeApp.sdOrderHeader.driverName">Driver Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mobilePhone"><span data-translate="sudeApp.sdOrderHeader.mobilePhone">Mobile Phone</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="departBatch"><span data-translate="sudeApp.sdOrderHeader.departBatch">Depart Batch</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fromStationName"><span data-translate="sudeApp.sdOrderHeader.fromStation">From Station</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="toStationName"><span data-translate="sudeApp.sdOrderHeader.toStation">To Station</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="unloadPlace"><span data-translate="sudeApp.sdOrderHeader.unloadPlace">Unload Place</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cashPay"><span data-translate="sudeApp.sdOrderHeader.cashPay">Cash Pay</span> <span class="glyphicon glyphicon-sort"></span></th>
<!--                     <th jh-sort-by="driverCollection"><span data-translate="sudeApp.sdOrderHeader.driverCollection">Driver Collection</span> <span class="glyphicon glyphicon-sort"></span></th> -->
<!--                     <th jh-sort-by="handlingCharges"><span data-translate="sudeApp.sdOrderHeader.handlingCharges">Handling Charges</span> <span class="glyphicon glyphicon-sort"></span></th> -->
<!--                     <th jh-sort-by="receiveShipment"><span data-translate="sudeApp.sdOrderHeader.receiveShipment">Receive Shipment</span> <span class="glyphicon glyphicon-sort"></span></th> -->
<!--                     <th jh-sort-by="otherPay"><span data-translate="sudeApp.sdOrderHeader.otherPay">Other Pay</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <th jh-sort-by="departureTime"><span data-translate="sudeApp.sdOrderHeader.departureTime">Departure Time</span> <span class="glyphicon glyphicon-sort"></span></th>
<!--                     <th jh-sort-by="weight"><span data-translate="sudeApp.sdOrderHeader.weight">Weight</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <th jh-sort-by="practical"><span data-translate="sudeApp.sdOrderHeader.practical">Practical</span> <span class="glyphicon glyphicon-sort"></span></th>
<!--                     <th jh-sort-by="loadParter"><span data-translate="sudeApp.sdOrderHeader.loadParter">Load Parter</span> <span class="glyphicon glyphicon-sort"></span></th> -->
<!--                     <th jh-sort-by="reply"><span data-translate="sudeApp.sdOrderHeader.reply">Reply</span> <span class="glyphicon glyphicon-sort"></span></th> -->
<!--                     <th jh-sort-by="oilCardNo"><span data-translate="sudeApp.sdOrderHeader.oilCardNo">Oil Card No</span> <span class="glyphicon glyphicon-sort"></span></th> -->
<!--                     <th jh-sort-by="oilCardBlance"><span data-translate="sudeApp.sdOrderHeader.oilCardBlance">Oil Card Blance</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <th jh-sort-by="freightSum"><span data-translate="sudeApp.sdOrderHeader.freightSum">Freight Sum</span> <span class="glyphicon glyphicon-sort"></span></th>
<!--                     <th jh-sort-by="arriveFreight"><span data-translate="sudeApp.sdOrderHeader.arriveFreight">Arrive Freight</span> <span class="glyphicon glyphicon-sort"></span></th> -->
<!--                     <th jh-sort-by="arriveDriver"><span data-translate="sudeApp.sdOrderHeader.arriveDriver">Arrive Driver</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <th jh-sort-by="orderHeadStat"><span data-translate="sudeApp.sdOrderHeader.orderHeadStat">Order Head Stat</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th>操作</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sdOrderHeader in vm.sdOrderHeaders track by sdOrderHeader.id">
<!--                     <td><a ui-sref="sd-order-header-detail({id:sdOrderHeader.id})">{{sdOrderHeader.id}}</a></td> -->
                    <td>{{sdOrderHeader.orderHeaderNo}}</td>
                    <td>{{sdOrderHeader.carNo}}</td>
                    <td>{{sdOrderHeader.driverName}}</td>
                    <td>{{sdOrderHeader.mobilePhone}}</td>
                    <td>{{sdOrderHeader.departBatch}}</td>
                    <td>{{sdOrderHeader.fromStationName}}</td>
                    <td>{{sdOrderHeader.toStationName}}</td>
                    <td>{{sdOrderHeader.unloadPlace}}</td>
                    <td>{{sdOrderHeader.cashPay}}</td>
<!--                     <td>{{sdOrderHeader.driverCollection}}</td> -->
<!--                     <td>{{sdOrderHeader.handlingCharges}}</td> -->
<!--                     <td>{{sdOrderHeader.receiveShipment}}</td> -->
<!--                     <td>{{sdOrderHeader.otherPay}}</td> -->
                    <td>{{sdOrderHeader.departureTime | date:'yyyy-MM-dd HH:mm'}}</td>
<!--                     <td>{{sdOrderHeader.weight}}</td> -->
                    <td>{{sdOrderHeader.practical}}</td>
<!--                     <td>{{sdOrderHeader.loadParter}}</td> -->
<!--                     <td>{{sdOrderHeader.reply}}</td> -->
<!--                     <td>{{sdOrderHeader.oilCardNo}}</td> -->
<!--                     <td>{{sdOrderHeader.oilCardBlance}}</td> -->
                    <td>{{sdOrderHeader.freightSum}}</td>
<!--                     <td>{{sdOrderHeader.arriveFreight}}</td> -->
<!--                     <td>{{sdOrderHeader.arriveDriver}}</td> -->
                    <td>{{sdOrderHeader.orderHeadStatName}}</td>
                    <td>
                    	<span class="label label-danger" ng-click="vm.setStat(sdOrderHeader, 'ORDER_HEAD_STAT_2')" ng-show="sdOrderHeader.orderHeadStat == 'ORDER_HEAD_STAT_1'"
                           style="cursor: pointer;">完成</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="sd-order-header.edit({id:sdOrderHeader.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="sd-order-header.delete({id:sdOrderHeader.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-right">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
