<style type="text/css">
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	width:100%;
	line-height: 30px;
	border-left: 2px solid;
    border-right: 2px solid;
}
table.gridtable th {
	border-width: 1px;
	border-style: solid;
	border-color: #666666;
	color:#333333;
}
table.gridtable td {
	border-width: 1px;
	border-style: solid;
	border-color: #666666;
}
table.gridtable td input,select{
	border-left:0px;
	border-top:0px;
	border-right:0px;
	border-bottom:1px;
	width:100%;padding:0;margin:0
}
table.sumStyle {
	background-color: #red;
}

.width8 tr td{
	width:8%;
}
label[for] {
	padding-top: 0px;
}
.input-align-center td input,select{
	text-align:center;
}
</style>

    
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySdOrderItemLabel" data-translate="sudeApp.sdOrderItem.home.createOrEditLabel">Create or edit a Sd Order Item</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
		<div width="100%" class="">
		<div style="line-height: 32px;">
			<div style="width:33%;float:left;text-align: left;;">运单号:&nbsp;&nbsp;<span style="color:red;font-weight:bold;font-family: monospace;font-size: 21px;" ng-bind="vm.sdOrderItem.id" ></span></div>
			<div style="width:34%;float:left;text-align: center;font-size: 24px;letter-spacing: 10px;margin-top: -10px;">货物托运凭证</div>
			<div style="width:33%;float:right;text-align: right;;">运单受理日期:&nbsp;&nbsp;<span ng-bind="vm.sdOrderItem.consignDate | date:'mediumDate'"></span>
			&nbsp;&nbsp;</div>
		</div>
		<table class="gridtable" style="border-top: 2px solid;" >
			<tr>
				<td>启&nbsp;&nbsp;运&nbsp;&nbsp;站</td>
				<td>
					<select class="form-control" ng-model="vm.sdOrderItem.fromStation" >
						<option ng-repeat="sdStation in vm.sdStations " value="{{sdStation.id}}">{{sdStation.stationName}}</option>
					</select>
					<input type="hidden" ng-model="vm.sdOrderItem.fromStationName" />
				</td>
				<td>到&nbsp;&nbsp;达&nbsp;&nbsp;站</td>
				<td>
					<input type="text" name="toStationName" autocomplete="off" id="toStationName"  ng-model="vm.sdOrderItem.toStationName"  placeHolder="" typeahead-on-select="setconStationDetail($item, $model)" uib-typeahead="sdStation as sdStation.stationName for sdStation in getStation($viewValue)"  />
					<input type="hidden" ng-model="vm.sdOrderItem.toStation" />
				<td>经&nbsp;&nbsp;&nbsp;&nbsp;由</td>
				<td><input type="text" ng-model="vm.sdOrderItem.middleStation"/></td>
				<td>货&nbsp;&nbsp;&nbsp;&nbsp;号</td>
				<td><input type="text" ng-model="vm.sdOrderItem.goodsNo" /></td>
			</tr>
			<tr>
				<td>发&nbsp;&nbsp;货&nbsp;&nbsp;人</td>
				<td colspan="3">
					<input type="text" name="consignerName" autocomplete="off" id="consignerName"  ng-model="vm.sdOrderItem.consignerName"  placeHolder="输入姓名或地址即可自动搜索" typeahead-on-select="setconsignerDetail($item, $model)" uib-typeahead="customer as customer.customerName for customer in getCustomer($viewValue)"  />
<!-- 					typeahead-loading="loadingLocations" typeahead-no-results="noResults" -->
<!-- 					<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i> -->
					<input type="hidden" name="consignerId" id="consignerId"  ng-model="vm.sdOrderItem.consignerId" />
				</td>
				<td>联系电话</td>
				<td><input type="text" name="consignerPhone" id="consignerPhone" value="" ng-model="vm.sdOrderItem.consignerPhone"/></td>
				<td>手&nbsp;&nbsp;机&nbsp;&nbsp;号</td>
				<td><input type="number" name="consignerMbPhone" id="consignerMbPhone" value="" ng-model="vm.sdOrderItem.consignerMbPhone"/>
				</td>
			</tr>
			<tr>
				<td>收&nbsp;&nbsp;货&nbsp;&nbsp;人</td>
				<td colspan="3">
					<input type="text" name="consigneeName" autocomplete="off" id="consigneeName" value="" ng-model="vm.sdOrderItem.consigneeName" placeHolder="输入姓名或地址即可自动搜索" typeahead-on-select="setconsigneeDetail($item, $model)" uib-typeahead="customer as customer.customerName for customer in getCustomer($viewValue)" />
					<input type="hidden" name="consigneeId" id="consigneeId" value="" ng-model="vm.sdOrderItem.consigneeId"/>
				</td>
				<td>联系电话</td>
				<td><input type="text" name="consigneePhone" id="consigneePhone" value="" ng-model="vm.sdOrderItem.consigneePhone"/></td>
				<td>手&nbsp;&nbsp;机&nbsp;&nbsp;号</td>
				<td><input type="number" name="consigneeMbPhone" id="consigneeMbPhone" value="" ng-model="vm.sdOrderItem.consigneeMbPhone"/></td>
			</tr>
			<tr>
				<td>收货地址</td>
				<td colspan="3"><input type="text" name="consigneeAddress" id="consigneeAddress" ng-model="vm.sdOrderItem.consigneeAddress" value="" /></td>
				<td>接货车号</td>
				<td><input type="text" ng-model="vm.sdOrderItem.reciveCar" /></td>
				<td>接货司机</td>
				<td><input type="text" ng-model="vm.sdOrderItem.reciveDriver" /></td>
			</tr>
			<tr>
				<td>发货地址</td>
				<td ><input type="text" name="consignerAddress" id="consignerAddress" ng-model="vm.sdOrderItem.consignerAddress" value="" /></td>
				<td>银行卡号</td>
				<td><input type="number" ng-model="vm.sdOrderItem.bankNo"/></td>
				<td>开&nbsp;&nbsp;户&nbsp;&nbsp;行</td>
				<td><input type="text" ng-model="vm.sdOrderItem.bankName" value="" /></td>
				<td>开&nbsp;&nbsp;户&nbsp;&nbsp;名</td>
				<td><input type="text" ng-model="vm.sdOrderItem.openName" /></td>
			</tr>
			<tr>
				<td>身份证号</td>
				<td colspan="3"><input type="text" ng-model="vm.sdOrderItem.idCard" /></td>
				<td></td>
				<td colspan="3"></td>
			</tr>
		</table>
		
		<table class="gridtable">
		<tr>
			<th>品名</th>
			<th>件数</th>
			<th>重量</th>
			<th>体积</th>
			<th>包装</th>
			<th>运费</th>
			<th>回扣</th>
			<th>代收货款</th>
			<th>送货费</th>
			<th>申明价值</th>
			<th>保险费</th>
		</tr>
		<tr  ng-repeat="sdItemInfo in vm.sdItemInfos" class="input-align-center">
			
			<td style="width:8%">
				<select class="form-control" ng-model="sdItemInfo.tradName" >
					<option ng-repeat="enumeration in vm.enumerations | filter:{enumTypeId:'TRADENAME'}" value="{{enumeration.description}}">{{enumeration.description}}</option>
				</select>
			</td>
			<td style="width:8%"><input type="number" name="" value="" ng-model="sdItemInfo.itemNum" ng-keyup="vm.sumOfItems('itemNum')" ng-change="vm.sumOfItems('itemNum')"/></td>
			<td style="width:8%"><input type="number" name="" value="" ng-model="sdItemInfo.weight" ng-keyup="vm.sumOfItems('weight')" ng-change="vm.sumOfItems('weight')"/></td>
			<td style="width:8%"><input type="number" name="" value="" ng-model="sdItemInfo.volume" ng-keyup="vm.sumOfItems('volume')" ng-change="vm.sumOfItems('volume')"/></td>
			<td style="width:6%">
				<select class="form-control" ng-model="sdItemInfo.itemUnit" >
					<option ng-repeat="enumeration in vm.enumerations | filter:{enumTypeId:'ITEMUNIT'}" value="{{enumeration.description}}">{{enumeration.description}}</option>
				</select>
			<td style="width:8%"><input type="number" name="" value="" ng-model="sdItemInfo.freight" ng-keyup="vm.sumOfItems('freight')" ng-change="vm.sumOfItems('freight')"/></td>
			<td style="width:8%"><input type="number" name="" value="" ng-model="sdItemInfo.kickBack" ng-keyup="vm.sumOfItems('kickBack')" ng-change="vm.sumOfItems('kickBack')"/></td>
			<td style="width:8%"><input type="number" name="" value="" ng-model="sdItemInfo.cod" ng-keyup="vm.sumOfItems('cod')" ng-change="vm.sumOfItems('cod')"/></td>
			<td style="width:8%"><input type="number" name="" value="" ng-model="sdItemInfo.deliveryExpense" ng-keyup="vm.sumOfItems('deliveryExpense')" ng-change="vm.sumOfItems('deliveryExpense')"/></td>
			<td style="width:8%"><input type="number" name="" value="" ng-model="sdItemInfo.claimingValue" ng-keyup="vm.sumOfItems('claimingValue')" ng-change="vm.sumOfItems('claimingValue')"/></td>
			<td style="width:8%"><input type="number" name="" value="" ng-model="sdItemInfo.premium" ng-keyup="vm.sumOfItems('premium')" ng-change="vm.sumOfItems('premium')"/></td>
		</tr>
		
		<tr >
			<td>合&nbsp;&nbsp;计</td>
			<td ng-bind="vm.itemNum"></td>
			<td ng-bind="vm.weight"></td>
			<td ng-bind="vm.volume"></td>
			<td ></td>
			<td ng-bind="vm.freight"></td>
			<td ng-bind="vm.kickBack"></td>
			<td ng-bind="vm.cod"></td>
			<td ng-bind="vm.deliveryExpense"></td>
			<td ng-bind="vm.claimingValue"></td>
			<td ng-bind="vm.premium"></td>
		</tr>
		</table>
		
		<table class="gridtable width8" style="border-bottom: 2px solid;">
			<tr>
				<td>付款方式</td>
				<td style="width: 9%">
					<select class="form-control" ng-model="vm.sdOrderItem.payType" >
						<option ng-repeat="enumeration in vm.enumerations | filter:{enumTypeId:'PAYTYPE'}" value="{{enumeration.description}}">{{enumeration.description}}</option>
					</select>
				</td>
				<td>现&nbsp;&nbsp;&nbsp;&nbsp;付</td>
				<td><input type="text" ng-model="vm.sdOrderItem.cashPay"/></td>
				<td>提&nbsp;&nbsp;&nbsp;&nbsp;付</td>
				<td><input type="text" ng-model="vm.sdOrderItem.fetchPay"/></td>
				<td>回&nbsp;&nbsp;单&nbsp;&nbsp;付</td>
				<td><input type="text" ng-model="vm.sdOrderItem.receiptPay"/></td>
				<td>月&nbsp;&nbsp;结</td>
				<td><input type="text" ng-model="vm.sdOrderItem.monthPay"/></td>
				<td>贷&nbsp;&nbsp;扣&nbsp;&nbsp;款</td>
				<td><input type="text" ng-model="vm.sdOrderItem.chargePay"/></td>
			</tr>
			<tr>
				<td>运输方式</td>
				<td>
					<select class="form-control" ng-model="vm.sdOrderItem.transportType" >
						<option ng-repeat="enumeration in vm.enumerations | filter:{enumTypeId:'TRANSPORTTYPE'}" value="{{enumeration.description}}">{{enumeration.description}}</option>
					</select>
				</td>
				<td>回单要求</td>
				<td>
					<select class="form-control" ng-model="vm.sdOrderItem.backRequire"  >
						<option>无</option>
					</select>
				</td>
				<td>交接方式</td>
				<td style="width: 9%">
					<select class="form-control" ng-model="vm.sdOrderItem.handOverType" >
						<option ng-repeat="enumeration in vm.enumerations | filter:{enumTypeId:'HANDOVERTYPE'}" value="{{enumeration.description}}">{{enumeration.description}}</option>
					</select>
				</td>
				<td>其他支出</td>
				<td colspan="2"><input type="text" ng-model="vm.sdOrderItem.otherPay" /></td>
				<td>费用说明</td>
				<td colspan="2"><input type="text" ng-model="vm.sdOrderItem.payExplain" /></td>
			</tr>
			<tr>
				<td>备&nbsp;&nbsp;&nbsp;&nbsp;注</td>
				<td colspan="5"><input type="text" ng-model="vm.sdOrderItem.remark" /></td>
				<td>其&nbsp;&nbsp;&nbsp;&nbsp;他</td>
				<td colspan="5" >
<!-- 				<div style="text-align: left;"> -->
<!-- 					<label class="checkbox-inline"> -->
<!-- 					    <input type="checkbox" name="kickBack" ng-model="vm.sdOrderItem.kickBack" ng-true-value="true" ng-false-value="false" id="s1"><label for="s1" >回扣已返&nbsp;&nbsp;</label> -->
<!-- 					</label> -->
<!-- 					<label class="checkbox-inline"> -->
<!-- 					    <input type="checkbox" name="kickBack" ng-model="vm.sdOrderItem.cashOwe" ng-true-value="true" ng-false-value="false" id="s2"><label for="s2" >现付尚欠&nbsp;&nbsp;</label> -->
<!-- 					</label> -->
<!-- 					<label class="checkbox-inline"> -->
<!-- 					    <input type="checkbox" name="kickBack" ng-model="vm.sdOrderItem.requireItem" ng-true-value="true" ng-false-value="false" id="s3"><label for="s3" >要求控货&nbsp;&nbsp;</label> -->
<!-- 					</label> -->
<!-- 				</div> -->
								
				</td>
			</tr>
		</table>
		<div style="line-height: 32px;">
			<div style="float:left;"><input type="checkbox" id="a1" ng-checked="vm.sdOrderItem.tagged == 'true'" ng-model="vm.sdOrderItem.tagged" ng-true-value="true" ng-false-value="false"/><label for="a1" >打标签&nbsp;&nbsp;</label></div>
			<div style="float:left;"><input type="checkbox" id="a2" ng-checked="vm.sdOrderItem.envelopes == 'true'" ng-model="vm.sdOrderItem.envelopes" ng-true-value="true" ng-false-value="false"/><label for="a2">打信封&nbsp;&nbsp;</label></div>
			<div style="float:left;"><input type="checkbox" id="a3" /><label for="a3">打回扣凭证&nbsp;&nbsp;</label></div>
			<div style="float:left;"><input type="checkbox" id="a4" /><label for="a4">打装卸单&nbsp;&nbsp;</label></div>
			<div style="float:left;"><input type="checkbox" id="a4" /><label for="a4">发送短信&nbsp;&nbsp;</label></div>
			<div style="float:right;">制单人：<span style="font-size: 15px;color: #015F84;" >秀腾宇&nbsp;&nbsp;<input type="hidden" ng-model="vm.sdOrderItem.others"  /></span></div>
		</div>
		</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
