<style>
.login-bg{
    background-image: url(http://www.sxhb56.com/UpLoadFile/20140522/262407d5-71c6-4e45-a0b7-4ba943578039.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}
</style>
<div class="login-container ng-scope">

	<div class="row">

		<div class="col-sm-6">

			<script type="text/javascript">
				jQuery(document).ready(function($)
				{
					// Reveal Login form
					setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);


					// Validation and Ajax action
					$("form#login").validate({
						rules: {
							username: {
								required: true
							},

							passwd: {
								required: true
							}
						},

						messages: {
							username: {
								required: '请输入你的用户名.'
							},

							passwd: {
								required: '请输入你的密码.'
							}
						},
					});

					// Set Form focus
					$("form#login .form-group:has(.form-control):first .form-control").focus();
					
					// Login Form Label Focusing
				});
			</script>

			<div class="errors-container" ng-show="vm.authenticationError">
	                <strong>登陆失败!</strong> 请重新检查用户名或密码错误.
	        </div>
			<form method="post" role="form" ng-submit="vm.login($event)" id="login" class="login-form fade-in-effect ng-pristine ng-valid in" 
				novalidate="novalidate">

				<div class="login-header">
					<a href="#/app/dashboard-variant-1" class="logo">
						<span>登陆</span>
					</a>

				</div>


				<div class="form-group">
					<input type="text" class="form-control" ng-model="vm.username" placeholder="用户名" name="username" id="username" autocomplete="off">
				</div>

				<div class="form-group">
					<input type="password" class="form-control" ng-model="vm.password" placeholder="密码" name="passwd" id="passwd" autocomplete="off">
				</div>
				<div class="form-group">
                    <label for="rememberMe">
                        <input type="checkbox" id="rememberMe" ng-model="vm.rememberMe" checked>
                        <span translate="login.form.rememberme">Remember me</span>
                    </label>
                </div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary  btn-block text-left">
						<i class="fa-lock"></i>
						登陆
					</button>
				</div>

				<div class="login-footer">
<!-- 					<a href="">忘记密码？</a> -->
				</div>

			</form>


		</div>

	</div>

</div>