<nav class="navbar user-info-navbar fixed" role="navigation">
	<ul class="user-info-menu left-links list-inline list-unstyled">
		<li class="hidden-sm hidden-xs" style="min-height: 76px;"><a
			href="#" data-toggle="sidebar"> <i class="fa-bars"></i>
		</a></li>
		
		
	</ul>
	<ul class="user-info-menu right-links list-inline list-unstyled">
		<li class="search-form" style="min-height: 76px;">
			<form name="userinfo_search_form" method="get"
				action="">
				<span my-current-time="format"> </i>
			</span>
			
<!-- 				<input type="text" name="s" class="form-control search-field" -->
<!-- 					placeholder="Type to search..."> -->
<!-- 				<button type="submit" class="btn btn-link"> -->
<!-- 					<i class="linecons-search"></i> -->
<!-- 				</button> -->
			</form>
		</li>
		<li class="dropdown user-profile" style="min-height: 76px;"><a
			href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"> <img
				src="../../../content/images/user-4.png"
				alt="user-image" class="img-circle img-inline userpic-32" width="28">
				<span> {{vm.account.login}}{{vm.login}} <i class="fa-angle-down"></i>
			</span>
		</a>
			<ul class="dropdown-menu user-profile-menu list-unstyled">
<!-- 				<li><a href="#edit-profile"> <i class="fa-edit"></i> New -->
<!-- 						Post -->
<!-- 				</a></li> -->
				<li><a href="#settings"> <i class="fa-wrench"></i> 设置
				</a></li>
<!-- 				<li><a href="#profile"> <i class="fa-user"></i> Profile -->
<!-- 				</a></li> -->
<!-- 				<li><a href="#help"> <i class="fa-info"></i> Help -->
<!-- 				</a></li> -->
				<li class="last"><a
					href="" ng-click="vm.logout()" id="logout"> <i
						class="fa-lock"></i> 退出系统
				</a></li>
			</ul></li>
<!-- 		<li style="min-height: 76px;"><a href="#" data-toggle="chat"> -->
<!-- 				<i class="fa-comments-o"></i> -->
<!-- 		</a></li> -->
	</ul>
</nav>