<nav class="navbar user-info-navbar fixed" role="navigation">
	<ul class="user-info-menu left-links list-inline list-unstyled">
		<li class="hidden-sm hidden-xs" style="min-height: 76px;"><a
			href="#" data-toggle="sidebar"> <i class="fa-bars"></i>
		</a></li>
		<li class="dropdown hover-line" style="min-height: 76px;"><a
			href="#" class="dropdown-toggle" data-toggle="dropdown"> <i
				class="fa-envelope-o"></i> <span class="badge badge-green">15</span>
		</a>
			<ul class="dropdown-menu messages">
				<!-- TS14720347963047: Xenon - Boostrap Admin Template created by Laborator / Please buy this theme and support the updates -->
				<li>
					<ul
						class="dropdown-menu-list list-unstyled ps-scrollbar ps-container">
						<li class="active"><a href="#"> <span class="line">
									<strong>Luc Chartier</strong> <span class="light small">-
										yesterday</span>
							</span> <span class="line desc small"> This ain’t our first item,
									it is the best of the rest. </span>
						</a></li>
						<li class="active"><a href="#"> <span class="line">
									<strong>Salma Nyberg</strong> <span class="light small">-
										2 days ago</span>
							</span> <span class="line desc small"> Oh he decisively
									impression attachment friendship so if everything. </span>
						</a></li>
						<li><a href="#"> <span class="line"> Hayden
									Cartwright <span class="light small">- a week ago</span>
							</span> <span class="line desc small"> Whose her enjoy chief new
									young. Felicity if ye required likewise so doubtful. </span>
						</a></li>
						<li><a href="#"> <span class="line"> Sandra
									Eberhardt <span class="light small">- 16 days ago</span>
							</span> <span class="line desc small"> On so attention necessary
									at by provision otherwise existence direction. </span>
						</a></li>
						<!-- Repeated -->
						<li class="active"><a href="#"> <span class="line">
									<strong>Luc Chartier</strong> <span class="light small">-
										yesterday</span>
							</span> <span class="line desc small"> This ain’t our first item,
									it is the best of the rest. </span>
						</a></li>
						<li class="active"><a href="#"> <span class="line">
									<strong>Salma Nyberg</strong> <span class="light small">-
										2 days ago</span>
							</span> <span class="line desc small"> Oh he decisively
									impression attachment friendship so if everything. </span>
						</a></li>
						<li><a href="#"> <span class="line"> Hayden
									Cartwright <span class="light small">- a week ago</span>
							</span> <span class="line desc small"> Whose her enjoy chief new
									young. Felicity if ye required likewise so doubtful. </span>
						</a></li>
						<li><a href="#"> <span class="line"> Sandra
									Eberhardt <span class="light small">- 16 days ago</span>
							</span> <span class="line desc small"> On so attention necessary
									at by provision otherwise existence direction. </span>
						</a></li>
						<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
							<div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div>
						</div>
						<div class="ps-scrollbar-y-rail" style="top: 0px; right: 2px;">
							<div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div>
						</div>
					</ul>
				</li>
				<li class="external"><a
					href="http://themes.laborator.co/xenon/ui/mailbox-main/"> <span>All
							Messages</span> <i class="fa-link-ext"></i>
				</a></li>
			</ul></li>
		<li class="dropdown hover-line" style="min-height: 76px;"><a
			href="#" class="dropdown-toggle" data-toggle="dropdown"> <i
				class="fa-bell-o"></i> <span class="badge badge-purple">7</span>
		</a>
			<ul class="dropdown-menu notifications">
				<!-- TS147203479615909: Xenon - Boostrap Admin Template created by Laborator / Please buy this theme and support the updates -->
				<li class="top">
					<p class="small">
						<a href="#" class="pull-right">Mark all Read</a> You have <strong>3</strong>
						new notifications.
					</p>
				</li>
				<li>
					<ul
						class="dropdown-menu-list list-unstyled ps-scrollbar ps-container">
						<li class="active notification-success"><a href="#"> <i
								class="fa-user"></i> <span class="line"> <strong>New
										user registered</strong>
							</span> <span class="line small time"> 30 seconds ago </span>
						</a></li>
						<li class="active notification-secondary"><a href="#"> <i
								class="fa-lock"></i> <span class="line"> <strong>Privacy
										settings have been changed</strong>
							</span> <span class="line small time"> 3 hours ago </span>
						</a></li>
						<li class="notification-primary"><a href="#"> <i
								class="fa-thumbs-up"></i> <span class="line"> <strong>Someone
										special liked this</strong>
							</span> <span class="line small time"> 2 minutes ago </span>
						</a></li>
						<li class="notification-danger"><a href="#"> <i
								class="fa-calendar"></i> <span class="line"> John
									cancelled the event </span> <span class="line small time"> 9
									hours ago </span>
						</a></li>
						<li class="notification-info"><a href="#"> <i
								class="fa-database"></i> <span class="line"> The server
									is status is stable </span> <span class="line small time">
									yesterday at 10:30am </span>
						</a></li>
						<li class="notification-warning"><a href="#"> <i
								class="fa-envelope-o"></i> <span class="line"> New
									comments waiting approval </span> <span class="line small time">
									last week </span>
						</a></li>
						<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
							<div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div>
						</div>
						<div class="ps-scrollbar-y-rail" style="top: 0px; right: 2px;">
							<div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div>
						</div>
					</ul>
				</li>
				<li class="external"><a href="#"> <span>View all
							notifications</span> <i class="fa-link-ext"></i>
				</a></li>
			</ul></li>
	</ul>
	<ul class="user-info-menu right-links list-inline list-unstyled">
		<li class="search-form" style="min-height: 76px;">
			<form name="userinfo_search_form" method="get"
				action="http://themes.laborator.co/xenon/extra/search/">
				<input type="text" name="s" class="form-control search-field"
					placeholder="Type to search...">
				<button type="submit" class="btn btn-link">
					<i class="linecons-search"></i>
				</button>
			</form>
		</li>
		<li class="dropdown user-profile" style="min-height: 76px;"><a
			href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"> <img
				src="http://themes.laborator.co/xenon/assets/images/user-4.png"
				alt="user-image" class="img-circle img-inline userpic-32" width="28">
				<span> John Smith <i class="fa-angle-down"></i>
			</span>
		</a>
			<ul class="dropdown-menu user-profile-menu list-unstyled">
				<li><a href="#edit-profile"> <i class="fa-edit"></i> New
						Post
				</a></li>
				<li><a href="#settings"> <i class="fa-wrench"></i> Settings
				</a></li>
				<li><a href="#profile"> <i class="fa-user"></i> Profile
				</a></li>
				<li><a href="#help"> <i class="fa-info"></i> Help
				</a></li>
				<li class="last"><a
					href="" ng-click="vm.logout()" id="logout"> <i
						class="fa-lock"></i> Logout
				</a></li>
			</ul></li>
		<li style="min-height: 76px;"><a href="#" data-toggle="chat">
				<i class="fa-comments-o"></i>
		</a></li>
	</ul>
</nav>