
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySdDriverLabel" data-translate="sudeApp.sdDriver.home.createOrEditLabel">Create or edit a Sd Driver</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
<!--         <div class="form-group" ng-show="vm.sdDriver.id"> -->
<!--             <label for="id" data-translate="global.field.id">ID</label> -->
            <input type="hidden" class="form-control" id="id" name="id"
                    ng-model="vm.sdDriver.id"  />
<!--         </div> -->
		<div class="form-group">
        <div >
            <label class="col-sm-1 control-label" data-translate="sudeApp.sdDriver.driverName" for="field_driverName">Driver Name</label>
            <div class="col-sm-2">
            	<input type="text" class="form-control" name="driverName" id="field_driverName"
                    ng-model="vm.sdDriver.driverName"  />
            </div>
        </div>
        <div >
            <label class="col-sm-1 control-label" data-translate="sudeApp.sdDriver.sex" for="field_sex">Sex</label>
            <div class="col-sm-2">
            	<input type="text" class="form-control" name="sex" id="field_sex"
                    ng-model="vm.sdDriver.sex"  />
            </div>
        </div>
        <div >
            <label class="col-sm-1 control-label" data-translate="sudeApp.sdDriver.mobilePhone" for="field_mobilePhone">Mobile Phone</label>
            <div class="col-sm-2">
            	<input type="number" class="form-control" name="mobilePhone" id="field_mobilePhone"
                    ng-model="vm.sdDriver.mobilePhone"  />
            </div>
        </div>
        <div >
            <label class="col-sm-1 control-label" data-translate="sudeApp.sdDriver.remark" for="field_remark">Remark</label>
            <div class="col-sm-2">
            	<input type="text" class="form-control" name="remark" id="field_remark"
                    ng-model="vm.sdDriver.remark"  />
            </div>
        </div>
	</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
