
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySdMaintenanceRecordLabel" data-translate="sudeApp.sdMaintenanceRecord.home.createOrEditLabel">Create or edit a Sd Maintenance Record</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
<!--         <div class="form-group" ng-show="vm.sdMaintenanceRecord.id"> -->
<!--             <label for="id" data-translate="global.field.id">ID</label> -->
            <input type="hidden" class="form-control" id="id" name="id"
                    ng-model="vm.sdMaintenanceRecord.id"  />
<!--         </div> -->
		<div class="form-group">
        <div >
            <label class="col-sm-1 control-label" data-translate="sudeApp.sdMaintenanceRecord.carNo" for="field_carNo">Car No</label>
            <div class="col-sm-2">
            	<input type="text" class="form-control" name="carNo" id="field_carNo"
                    ng-model="vm.sdMaintenanceRecord.carNo"  />
            </div>
        </div>
        <div >
            <label class="col-sm-1 control-label" data-translate="sudeApp.sdMaintenanceRecord.maintainDate" for="field_maintainDate">Maintain Date</label>
            <div class="col-sm-2">
                <div class="input-group">
                    <input id="field_maintainDate" type="text" class="form-control" name="maintainDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.sdMaintenanceRecord.maintainDate" is-open="vm.datePickerOpenStatus.maintainDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('maintainDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div >
            <label class="col-sm-1 control-label" data-translate="sudeApp.sdMaintenanceRecord.sender" for="field_sender">Sender</label>
            <div class="col-sm-2">
            	<input type="text" class="form-control" name="sender" id="field_sender"
                    ng-model="vm.sdMaintenanceRecord.sender"  />
            </div>
        </div>
        <div >
            <label class="col-sm-1 control-label" data-translate="sudeApp.sdMaintenanceRecord.sendReason" for="field_sendReason">Send Reason</label>
            <div class="col-sm-2">
            	<input type="text" class="form-control" name="sendReason" id="field_sendReason"
                    ng-model="vm.sdMaintenanceRecord.sendReason"  />
            </div>
        </div>
        <div >
            <label class="col-sm-1 control-label" data-translate="sudeApp.sdMaintenanceRecord.repairer" for="field_repairer">Repairer</label>
            <div class="col-sm-2">
            	<input type="text" class="form-control" name="repairer" id="field_repairer"
                    ng-model="vm.sdMaintenanceRecord.repairer"  />
            </div>
        </div>
        <div >
            <label class="col-sm-1 control-label" data-translate="sudeApp.sdMaintenanceRecord.repaiResult" for="field_repaiResult">Repai Result</label>
            <div class="col-sm-2">
            	<input type="text" class="form-control" name="repaiResult" id="field_repaiResult"
                    ng-model="vm.sdMaintenanceRecord.repaiResult"  />
            </div>
        </div>
        <div >
            <label class="col-sm-1 control-label" data-translate="sudeApp.sdMaintenanceRecord.repaiCosts" for="field_repaiCosts">Repai Costs</label>
            <div class="col-sm-2">
            	<input type="number" class="form-control" name="repaiCosts" id="field_repaiCosts"
                    ng-model="vm.sdMaintenanceRecord.repaiCosts"  />
            </div>
        </div>
        <div >
            <label class="col-sm-1 control-label" data-translate="sudeApp.sdMaintenanceRecord.remark" for="field_remark">Remark</label>
            <div class="col-sm-2">
            	<input type="text" class="form-control" name="remark" id="field_remark"
                    ng-model="vm.sdMaintenanceRecord.remark"  />
            </div>
        </div>
	</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
